[user]
    email = jonathan.e.foster@gmail.com
    name = Jonathan Foster
[push]
    default = simple
[merge]
    tool = kdiff3
[alias]
    ll = log --all --decorate --oneline --graph
[diff]
    guitool = kdiff3
    tool = vimdiff
