[user]
    email = jonathan@jonathanfoster.io
    name = Jonathan Foster
[push]
    default = simple
[merge]
    tool = kdiff3
[alias]
    ll = log --all --decorate --oneline --graph
[diff]
    guitool = kdiff3
    tool = vimdiff

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[core]
	excludesfile = /Users/jfoster/.gitignore_global
[commit]
	template = /Users/jfoster/.stCommitMsg
